/* Den Layouts by Snow #553411

- Credit removal is not permitted
- These layouts may only be used with codes made by #553411
- Do not clip sections of code to use elsewhere, whether it is for a free, commissioned, or personal CSS

*/

.content:after {
    content: 'HTML layout by Snow #553411';
    font-size: 12px;
}

/* basic card layout */
.contentheader {
    border: 1px solid #000;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.basiccard-layout .maincontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 300px;
    overflow: scroll;
}
.basiccard-layout .footer {
    border: 1px solid #000;
    margin: 0;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}


/* card layout */
.card-layout .contentheader {
    border: 1px solid #000;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-layout .contentsubheader {
    border: 1px solid #000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-layout .maincontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 300px;
    overflow: scroll;
}
.card-layout .footer {
    border: 1px solid #000;
    margin: 0;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}


/* double sectioned card layout */
.disectionedcard-layout .contentheader {
    border: 1px solid #000;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.disectionedcard-layout .contentsubheader {
    border: 1px solid #000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.disectionedcard-layout .contentsection {
    display: flex;
}
.disectionedcard-layout .maincontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 300px;
    overflow: scroll;
    flex: 2;
}
.disectionedcard-layout .sidecontent {
    border: 1px solid #000;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    height: 300px;
    overflow: scroll;
    flex: 1;
}
.disectionedcard-layout .footer {
    border: 1px solid #000;
    margin: 0;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

/* triple sectioned card layout */
.trisectionedcard-layout .contentheader {
    border: 1px solid #000;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.trisectionedcard-layout .contentsubheader {
    border: 1px solid #000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.trisectionedcard-layout .maincontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 300px;
    overflow: scroll;
}
.trisectionedcard-layout .contentsection {
    display: flex;
}
.trisectionedcard-layout .leftcontent, .trisectionedcard-layout .rightcontent {
    border: 1px solid #000;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    height: 180px;
    overflow: scroll;
    flex: 1;
}
.trisectionedcard-layout .footer {
    border: 1px solid #000;
    margin: 0;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}


/* static box layout */
.staticbox-layout .maincontent { 
    border: 1px solid #000;
    font-size: 18px;
    height: 250px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
}


/* double sectioned static box layout */
.disectionedstaticbox-layout .contentsection {
    display: flex;
    gap: 20px;
}
.disectionedstaticbox-layout .leftcontent, .disectionedstaticbox-layout .rightcontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 400px;
    overflow: scroll;
    flex: 1;
}


/* triple sectioned static box layout */
.trisectionedstaticbox-layout .maincontent { 
    border: 1px solid #000;
    font-size: 18px;
    height: 400px;
    text-align: left;
    padding: 10px;
    flex: 1;
    overflow: scroll;
}
.trisectionedstaticbox-layout:has(.leftcontent) .maincontent { 
    margin-bottom: 20px;
}
.trisectionedstaticbox-layout:has(.topcontent) .maincontent { 
    height: 600px;
}
.trisectionedstaticbox-layout .contentsection {
    display: flex;
    gap: 20px;
}
.trisectionedstaticbox-layout .leftcontent, .trisectionedstaticbox-layout .rightcontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 250px;
    overflow: scroll;
    flex: 1;
}
.trisectionedstaticbox-layout .stackedsection {
    flex: 1;
}
.trisectionedstaticbox-layout .topcontent, .trisectionedstaticbox-layout .bottomcontent {
    border: 1px solid #000;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    height: 290px;
    overflow: scroll;
}
.trisectionedstaticbox-layout .topcontent {
    margin-bottom: 20px;
}

/* expander layout */
.expander-layout .maincontent { 
    border: 1px solid #000;
    font-size: 18px;
    height: 150px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    transition: 1.2s;
}
.expander-layout .maincontent:hover {
    height: 300px;
}


/* double sectioned expander layout */
.disectionedexpander-layout .contentsection {
    display: flex;
    gap: 20px;
}
.disectionedexpander-layout .leftcontent, .disectionedexpander-layout .rightcontent { 
    border: 1px solid #000;
    font-size: 18px;
    height: 350px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    flex: 1;
    transition: 1.2s;
}
.disectionedexpander-layout .leftcontent:hover, .disectionedexpander-layout .rightcontent:hover {
    flex: 3;
}


/* triple sectioned expander layout */
.trisectionedexpander-layout .contentsection {
    display: flex;
    gap: 20px;
}
.trisectionedexpander-layout .leftcontent, .trisectionedexpander-layout .centercontent, .trisectionedexpander-layout .rightcontent{ 
    border: 1px solid #000;
    font-size: 18px;
    height: 400px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    flex: 1;
    transition: 1.2s;
}
.trisectionedexpander-layout .leftcontent:hover, .trisectionedexpander-layout .centercontent:hover, .trisectionedexpander-layout .rightcontent:hover {
    flex: 3;
}


/* quadruple sectioned expander layout */
.quadsectionedexpander-layout .contentsection {
    display: flex;
    gap: 20px;
}
.quadsectionedexpander-layout .leftcontent, .quadsectionedexpander-layout .leftcentercontent, .quadsectionedexpander-layout .rightcentercontent, .quadsectionedexpander-layout .rightcontent{ 
    border: 1px solid #000;
    font-size: 18px;
    height: 400px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    flex: 1;
    transition: 1.2s;
}
.quadsectionedexpander-layout .leftcontent:hover, .quadsectionedexpander-layout .leftcentercontent:hover, .quadsectionedexpander-layout .rightcentercontent:hover, .quadsectionedexpander-layout .rightcontent:hover {
    flex: 3;
}
