/* CSS by Snow #553411, commisssioned by #90617
- CREDIT REMOVAL IS NOT PERMITTED
- DO NOT RESELL OR REDISTRIBUTE
- DO NOT CLIP CODE OR USE THIS AS A TEMPLATE
*/

.contentbox {
    border: 2px solid;
    padding: 20px;
}
.boxsection {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    margin-bottom: 0px;
}
.maincontent {
    border: 2px solid;
    flex: 4;
    height: 400px;
    text-align: left;
    padding: 5px;
}
.interaction {
    border: 2px solid;
    flex: 5;
    height: 400px;
}
.interaction img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.option {
    border: 2px solid;
    position: absolute;
    margin-top: -30px;
    width: 250px;
    right: 2%;
    margin-right: 40px;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    height: 24px;
    overflow-x: auto;
    transition: 0.6s;
}
.option a {
    opacity: 0;
    transition: 0.6s
}
.option:nth-child(2) { margin-top: -60px; }
.option:nth-child(3) { margin-top: -90px; }

.option:hover a {
    opacity: 1
}
.option:hover:after {
    font-size: 0
}

.option:after {
    content: '... hover me'
}

#about > tbody > tr > td {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
    text-align: center !important;
}
#about .inner-table, #player .inner-table {
    display: table !important;
    table-layout: fixed;
    background: none !important;
    animation: none !important
}
@media (min-width: 664px) {
    #about .inner-table {
        width: 100%;
    }
}
#lion_image {
    width: 100%; !important;
    content: url('https://snnxwww.github.io/snows-layoutsales/CSS/90617/ladyodelia.png');
}

.cave-grid:has(img[src*='unsortedlions']):after {
    content: 'UNSORTED';
    position: absolute;
    font-size: 18px;
    top: 10px;
    margin-left: -120px;
}
.cave-grid:has(img[src*='nesting']):after {
    content: 'NESTING';
    position: absolute;
    font-size: 18px;
    top: 10px;
    margin-left: -150px;
}
.cave-grid:has(img[src*='prideoverview']):after {
    content: 'PRIDE OVERVIEW';
    position: absolute;
    font-size: 18px;
    top: 10px;
    margin-left: -150px;
}

.pagedoll  {
    position: fixed;
    bottom: 0;
    right:  0;
    z-index: 99;
    max-width: 70%;
    pointer-events: none;
}

div#commentBox:before {
    content: '';
    height: 500px;
    width: 70%;
    background: url('https://static.lioden.com/images/decors/male/over/snugglinglionessmaroon.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 10px;
    margin-top: -160px;
    pointer-events: none;
}
#commentBox {
    width: 70%;
    margin-left: 30%;
}
@media(max-width: 1200px) {
    div#commentBox:before {
        margin-top: -80px;
    }
}
@media(max-width: 676px) {
    div#commentBox:before {
        margin-top: -30px;
    }
}
table a {
    text-decoration: none !important;
}

.breadcrumb:after {
    content: 'CSS by Snow #553411';
    position: absolute;
    right: 125px;
}
.s-chat-message {
    background: #ffffff !important;
}
input, select, textarea, .button, .progress-bar {
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    transition: 0.6s;
}



*:has(img[src*='time-day']):has(img[src*='season-dry']) body {
    background: url('https://snnxwww.github.io/snows-layoutsales/CSS/90617/dry-day.jpg');
    background-attachment: fixed;
    background-size: cover;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) * {
    color: #fdfcf5 !important;
    border-color: #fdfcf5 !important
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) a {
    transition: 0.4s !important;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) a:hover {
    filter: drop-shadow(0 0 4px #fdfcf5) !important;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) input,
*:has(img[src*='time-day']):has(img[src*='season-dry']) select,
*:has(img[src*='time-day']):has(img[src*='season-dry']) textarea,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .button,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .progress-bar {
    background: #d19ea6;
    transition: 0.6s;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .progress {
    background: #e0c7cb;
    border-radius: 0px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) input:hover,
*:has(img[src*='time-day']):has(img[src*='season-dry']) select:hover,
*:has(img[src*='time-day']):has(img[src*='season-dry']) textarea:hover,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .button:hover {
    background: #d19ea6;
    filter: drop-shadow(0 0 4px #fdfcf5) !important;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) .topbar {
    background: #87719f;
    border: 2px solid #fdfcf5;
    border-top: none;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .navbar {
    background: #867ead;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='logo-full-2.png'] {
    filter: hue-rotate(-50deg) saturate(0.4) brightness(1.1)
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .navbar a:not(:has(img)) {
    background: #00000000 !important;
    transition: 0.4s
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) .col-md-9 {
    background: none
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .main {
    background: #c58190aa;
    border: 2px solid #fdfcf5;
    box-shadow: 2px -2px 2px #c58190;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) .breadcrumb {
    background: #e3bdb5d5;
    border-radius: 0px;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) .alert {
    background: #d7a397d5;
    border: none;
    border-radius: 0px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .alert-danger,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .alert-warning {
    background: #dda294d5;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) h1 {
    font-size: 40px;
    text-align: center;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .contentbox, 
*:has(img[src*='time-day']):has(img[src*='season-dry']) table th,
*:has(img[src*='time-day']):has(img[src*='season-dry']) table .top,
*:has(img[src*='time-day']):has(img[src*='season-dry']) table .bottom,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .feature,
*:has(img[src*='time-day']):has(img[src*='season-dry']) table td[colspan='100%'],
*:has(img[src*='time-day']):has(img[src*='season-dry']) .panel {
    background: #b0717ed5 !important;
    box-shadow: none;
    border-radius: 0px;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) .maincontent, 
*:has(img[src*='time-day']):has(img[src*='season-dry']) table, 
*:has(img[src*='time-day']):has(img[src*='season-dry']) .cave-grid, 
*:has(img[src*='time-day']):has(img[src*='season-dry']) .mound-grid, 
*:has(img[src*='time-day']):has(img[src*='season-dry']) table,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .col-sm-4 div,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .col-md-4 div,
*:has(img[src*='time-day']):has(img[src*='season-dry']) table .right_odd,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .comment,
*:has(img[src*='time-day']):has(img[src*='season-dry']) .left:has(a[href*='account-settings.php']) {
    background: #cfabb9d5 !important;
    border-radius: 0px !important;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) table .left.b {
    background: #ba8b9dd5 !important;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .inner-table .left, .option {
    background: #bd8299d5 !important;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) .inner-table .right {
    background: #c694a7 !important;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) #makeComment input::placeholder {
    color: #eddfe4 !important;
    padding-left: 4px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) #commentBox {
    border-radius: 0px !important;
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) #fraSidebarChat {
    filter: grayscale(1) sepia(1) hue-rotate(-60deg) brightness(1) saturate(0.7)
}

*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='cavedefault'], img[src*='caveunused'] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/shallow_waters.png');
    object-fit: cover;
    height: 120px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='mound'] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/solitude_01.png');
    object-fit: cover;
    height: 80px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='unsortedlions'] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/shipwrecks1.png');
    object-fit: cover;
    height: 60px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='nesting'] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/denofsalvation.png');
    object-fit: cover;
    height: 60px;
}
*:has(img[src*='time-day']):has(img[src*='season-dry']) img[src*='prideoverview'] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/thelonging.png');
    object-fit: cover;
    height: 60px;
}
