/* CSS by Snow #553411, commisssioned by #90617
- CREDIT REMOVAL IS NOT PERMITTED
- DO NOT RESELL OR REDISTRIBUTE
- DO NOT CLIP CODE OR USE THIS AS A TEMPLATE
*/

.contentbox {
    border: 2px solid;
    padding: 20px;
}
.boxsection {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    margin-bottom: 0px;
}
.maincontent {
    border: 2px solid;
    flex: 4;
    height: 400px;
    text-align: left;
    padding: 5px;
}
.interaction {
    border: 2px solid;
    flex: 5;
    height: 400px;
}
.interaction img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.option {
    border: 2px solid;
    position: absolute;
    margin-top: -30px;
    width: 250px;
    right: 2%;
    margin-right: 40px;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    height: 24px;
    overflow-x: auto;
    transition: 0.6s;
}
.option a {
    color: #00000000;
    transition: 0.6s
}
.option:nth-child(2) { margin-top: -60px; }
.option:nth-child(3) { margin-top: -90px; }

.option:hover a {
    color: #000
}
.option:hover:after {
    font-size: 0
}

.option:after {
    content: '... hover me'
}

#about > tbody > tr > td {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
    text-align: center !important;
}
#about .inner-table, #player .inner-table {
    display: table !important;
    table-layout: fixed;
    background: none !important;
    animation: none !important
}
@media (min-width: 664px) {
    #about .inner-table {
        width: 100%;
    }
}
#lion_image {
    width: 100%; !important;
    content: url('https://snnxwww.github.io/snows-layoutsales/CSS/90617/ladyodelia.png');
}
